<launch>
    <!-- Global parameters -->
    <param name="starting" type="int" value="60"/>
    <param name="rate" type="int" value="20"/>

    <!-- Nodes -->
    <node pkg="perceptive_stream" type="gndTruthCAR.py" name="gnd_truth_car0" output="screen">
        <param name="json_path" value="/home/caillot/Documents/Dataset/CARLA_Dataset_A/Embed/V0/VehicleInfo/%06d.json"/>
        <param name="vehicle_ID" value="V0_info."/>
    </node>

    <node pkg="perceptive_stream" type="gndTruthCAR.py" name="gnd_truth_car1" output="screen">
        <param name="json_path" value="/home/caillot/Documents/Dataset/CARLA_Dataset_A/Embed/V1/VehicleInfo/%06d.json"/>
        <param name="vehicle_ID" value="V1_info."/>
    </node>

    <node pkg="perceptive_stream" type="gndTruthCAR.py" name="gnd_truth_car2" output="screen">
        <param name="json_path" value="/home/caillot/Documents/Dataset/CARLA_Dataset_A/Embed/V2/VehicleInfo/%06d.json"/>
        <param name="vehicle_ID" value="V2_info."/>
    </node>

    <node pkg="perceptive_stream" type="readCamStream.py" name="dataset_infra_camRGB" output="screen">
        <param name="json_path" value="/home/caillot/Documents/Dataset/CARLA_Dataset_A/Infra/sensorInfo/%06d.json" />
        <param name="npy_path" value="/home/caillot/Documents/Dataset/CARLA_Dataset_A/Infra/cameraRGB/cameraMatrix.npy" />
        <param name="img_path" value="/home/caillot/Documents/Dataset/CARLA_Dataset_A/Infra/cameraRGB/%06d.png" />
        <param name="sensor_ID" value="Infra_camRGB."/>
    </node>

    <!-- <node pkg="perceptive_stream" type="readCamStream.py" name="dataset_V1_camRGB" output="screen">
        <param name="json_path" value="/home/caillot/Documents/Dataset/CARLA_Dataset_A/Embed/V1/VehicleInfo/%06d.json" />
        <param name="npy_path" value="/home/caillot/Documents/Dataset/CARLA_Dataset_A/Embed/V1/cameraRGB/cameraMatrix.npy" />
        <param name="img_path" value="/home/caillot/Documents/Dataset/CARLA_Dataset_A/Embed/V1/cameraRGB/%06d.png" />
        <param name="sensor_ID" value="V1_camRGB."/>
    </node> -->

    <!-- <node pkg="perceptive_stream" type="bbox_on_img.py" name="bbox_on_img" output="screen">
        <param name="queue_size" type="int" value="100"/>
    </node> -->
</launch>